@font-face {
    font-family: Roboto;
     src: url("assets/fonts/Roboto-Regular.ttf");
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
  }

.nav {
    border: 1px solid #3e2fc0;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: space-between;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
}

.nav-item {
    padding: 0 20px;
    line-height: 50px;
}

.nav-links {
    text-decoration: none;
    transition: .3s;
    color: #829985;
}

.nav-item a:hover {
    color: #4d2323;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Roboto;
}

.section {
    border: 1px solid #3e2fc0;
}

@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

.container {
    display: flex;
    flex-direction: row;
}

#profile {
    text-align: center;
    min-width: 100%;
}
#contacts {
    justify-content: center;
    flex-direction: row;
    min-width: 40%;
    padding: 10px;
}

#summary {
    justify-content: center;
    padding: 10px;
    max-width: 50%;
}


#skills {
    justify-content: center;
    padding: 10px;
    min-width: 40%;
}


#code {
    justify-content: center;
    padding: 0 200px;
    max-width: 50%;
}

#experience {
    justify-content: center;
    padding: 10px;
    max-width: 25%;
}


#education {
    justify-content: center;
    padding: 10px;
    max-width: 50%;
}

#language {
    justify-content: center;
    padding: 10px;
    max-width: 25%;
    text-align: left;
}

#footer {
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 20px;
    height: 50px;
}

.section-title {
    text-align: center;
    margin: 10px;
}

.image-container {
    display: flex;
    border: 1px solid #3e2fc0;
    width: 80px;
}

.list-container {
    list-style: none;
}

.table {
    font-weight: bold;
    text-decoration: #3e2fc0;
}

.link {
    text-decoration: none;
    color: #829985;
    transition: color 0.5s;
}

.link:hover {
    color: #5d7260;
}